* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color:rgb(20, 19, 19);

}
h1{
    margin: 3rem 0 3rem;
    color: whitesmoke;
    font-size: 4rem;
}
.watchDiv{
    color: rgb(255, 0, 0);
    font-size: 2rem;
    margin-bottom: 3rem;

}
button{
    cursor: pointer;
    width: 7rem;
    margin: 1rem;
    height: 5vh;
    border-radius: 3rem;
    border: none;
}
.reset{
    background-color: green;
    color: azure;
}
.start{
    background-color: goldenrod;
    color: white;
}
.pause{
    background-color: goldenrod;
    color: white;
}

@media screen and (max-width: 600px){
    .container{
        justify-content: center;
        align-items: center;
    }
}