* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
     height: 100vh;
    background-color: black;

}
h1{
    margin: 3rem 0 3rem;
    color: white;
    font-size: 4rem;
}
.watchDiv{
    color: red;
    font-size: 2rem;
    margin-bottom: 3rem;
}
button{
    cursor: pointer;
    width: 7rem;
    margin: 1rem;
    height: 5vh;
    border-radius: 3rem;
}
.reset{
    background-color: green;
}